<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Access denied</title>
</head>
<body>
<div layout:fragment="content">
  <div class="l-mini">

    <div class="mod-error">
      <h1>Access denied</h1>
      <p>You are not a member of the required group: <strong th:text="${allowedGroup}"></strong></p>
      <p th:text="#{error.emailMsg}"></p><a th:href="'mailto:' + ${@environment.getProperty('errorPage.email')}" th:text="${@environment.getProperty('errorPage.email')}"></a>
    </div>

  </div>
</div>
</body>
</html>
