<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
</head>
<body>
<div>
  <form action="#">
    <div th:fragment="textfield (fieldName, tip)">
      <label th:for="*{__${fieldName}__}" th:text="#{create.form.__${fieldName}__}"></label>
      <em th:if="${tip != 'na'}" class="tip" th:text="#{create.form.__${tip}__}"></em>
      <div>
        <ul th:if="${#fields.hasErrors('__${fieldName}__')}">
          <li class="field-error" th:each="err : ${#fields.errors('__${fieldName}__')}" th:text="${err}" />
        </ul>
        <input type="text" th:field="*{__${fieldName}__}" class="large" th:errorclass="field-error" th:disabled="${fieldName == 'secret'}"/>
      </div>
    </div>
  </form>
</div>
</body>
</html>
