<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{welcome.title}"></title>
</head>
<body>
<div layout:fragment="content">
  <div class="l-mini">
    <a id="add-client" class="c-button" href="/create" th:href="@{/create}" th:text="#{index.create}">Add client</a>

    <div class="mod-clients">
      <table>
        <thead>
          <tr>
            <th th:text="#{index.id}">ID</th>
            <th th:text="#{index.redirect_uri}">REDIRECT_URI</th>
            <th th:text="#{index.scopes}">SCOPES</th>
            <th th:text="#{index.actions}">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr  th:each="client: ${clients}">
            <td th:text="${client.clientDetails.clientId}">
              CLIENT_ID
            </td>
            <td th:text="${client.clientDetails.registeredRedirectUri}">
              REDIRECT_URI
            </td>
            <td th:text="${client.clientDetails.scope}">
              SCOPES
            </td>
            <td>
              <form th:if="${client.mutable}" class="delete-client" th:action="@{/clients/__${client.clientDetails.clientId}__/delete}" method="post" th:attr="data-client=${client.clientDetails.clientId}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="buttons">
                  <input type="submit" class="c-button" th:value="#{index.actions.delete}"/>
                </div>
              </form>
              <p th:if="${!client.mutable}" th:text="#{index.actions.preconfigured}">Pre-configured</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
