<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <title>Layout</title>
  <meta content='width=1280' id='vp' name='viewport'/>
  <meta charset='utf-8'/>
  <link href="/css/application.css" th:href="@{/css/application.css}" media="screen" rel="stylesheet"/>
  <script type="text/javascript" th:src="@{/javascripts/jquery-2.1.3.min.js}"></script>
  <script type="text/javascript" th:src="@{/javascripts/admin.js}"></script>
</head>
<body>
<div class="l-header">
  <div class="mod-header">
    <h1 class="title"><a href="/" th:href="@{/}">Authorization Server Admin Client</a></h1>
    <nav class="navigation">
      <ul>
        <li><a href="/clients" th:href="@{/clients}" th:classappend="${viewName == 'clients'} ? 'active'">Clients</a></li>
        <li><a href="/resource-servers" th:href="@{/resource-servers}" th:classappend="${viewName == 'resource-servers'} ? 'active'">Resource Servers</a></li>
      </ul>
    </nav>
    <div class="meta">
      <div class="name" sec:authentication="principal.displayName">Bob</div>
    </div>
  </div>
</div>
<div class="l-main">
  <div class="mod-flash">
    <div class="flash-notice" th:classappend="${#vars['flash.notice'] == null} ? 'hidden'">
      <a class="close" href="#">X</a>
      <span th:text="${#vars['flash.notice']}">flash text</span>
    </div>
  </div>
  <div layout:fragment="content">
  </div>
</div>
<div class="mod-footer">
  <ul data-reactid=".0.2.0">
    <li><a href="https://www.surfnet.nl/en" target="_blank">SURFnet</a></li>
    <li><a href="https://wiki.surfnet.nl/display/conextsupport/Terms+of+Service+%28EN%29"
           target="_blank">Terms of Service</a></li>
    <li><a href="mailto:help@surfconext.nl">help@surfconext.nl</a></li>
  </ul>
</div>
</body>
</html>
